main.aux
main.bbl
main.bcf
main.blg
main.fdb_latexmk
main.fls
main.loa
main.lof
main.log
main.lot
main.synctex.gz
Appendices/appendixA.aux
Appendices/appendixB.aux
_minted/_FAD58DE7366495DB4650CFEFAC2FCD61.index.minted
_minted/default.style.minted
_minted/EEE41B011A6AC64FA5234238DF3FB969.highlight.minted
chapters/01-Introduccion.aux
chapters/02-EstadoDelArte.aux
chapters/03-MarcoTeorico.aux
chapters/04-Planeacion.aux
chapters/05-Analisis.aux
chapters/chapter01.aux
chapters/chapter02.aux
chapters/chapter03.aux
chapters/chapter04.aux
chapters/chapter05.aux
main.run.xml
main.toc
chapters/04-Planeacion.aux
chapters/05-Analisis.aux
chapters/04-Planeacion.aux
chapters/04-Planeacion.aux
chapters/04-Planeacion.aux
chapters/04-Planeacion.aux
img/Analisis/DiagramaProcesos/.$DiagramaProceso01_Captura Parámetros.drawio.bkp
chapters/06-Design.aux
